{% extends "layouts/base.html" %}
{% set project = "Home" %}


{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <form class = "grid" action = "/result" method ="POST">

            <label for = "currentFood">Enter name of food:</label>
            <input type="text" name="currentFood" id="currentFood">
            <input type="Submit" class="file_submit" id ="currentFood">

        </form>
        <h2> Food List</h2>
        <table>
        <tr>
            <th>Name of Food</th>
            <th>Calories of Food</th>
        </tr>
        {% for food in foodList %}
        <tr>
            <td>{{ food[0] }}</td>
            <td>{{ food[1] }}</td>
        </tr>
        {% endfor %}
        </table>
        <center>
            {% if currentFood %} 
            <h3 style="color: rgb(252, 185, 218);">Total Calories: {{ currentFood }} </h3>
            {% endif %}
        </center>
    </div>
{% endblock %}