{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block content %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <h1>Daily Food Intake Tracker</h1>
        <input type="text" placeholder="Search..">
        <button> Search </button>
        {% with nutrition = getNutritionInfo("Oreo") %}
        <!-- {% nutrition = getNutritionInfo("Oreo") %} -->
            <p>{{nutrition}}</p>
        {% endwith %}
    </div>
{% endblock %}